#cseconfig2 {
  display: none;
}

#encform {
  display: none;
}

#encrij-icon {
  color: #bbb;
  cursor: pointer;
  margin-right: 5px;
}

#encrij-keyentry {
  display: inline;
  visibility: hidden;
}

#encrij-view {
  margin-left: 5px;
}

#encrij-editpw-wrapper .form-text {
  display: inline;
  width: auto;
}

#encrij-editpwver-wrapper .form-text {
  display: inline;
  width: auto;
}

#encrij-status-wrapper label {
  display: inline;
}

.encrijspn {
  font: 12px/160% Verdana;  
  display: none;
}

.encrijspn-block {
  font: 12px/160% Verdana;  
  display: none;
}

.encrijspn-inline {
  font: 12px/160% Verdana;  
  display: none;
}



